AutoschematicConfig(
    prefixes: {
        "testbench/equivalence/tarpc": Prefix(
            connectors: [
                Connector(
                    shortname: "scoreboard",
                    spec: Cargo(
                        name: "autoschematic-connector-scoreboard-dummy",
                        protocol: Tarpc
                    ),
                    env: {
                        "PROTOCOL": "TARPC",
                    }
                ),
            ]
        ),
        "testbench/equivalence/grpc": Prefix(
            connectors: [
                Connector(
                    shortname: "scoreboard",
                    spec: Cargo(
                        name: "autoschematic-connector-scoreboard-dummy",
                        protocol: Grpc
                    ),
                    env: {
                        "PROTOCOL": "GRPC",
                    }
                ),
            ]
        ),
        // For local development...
        // (Don't forget to set "HOME": "/home/yourname")!
        // "testbench/equivalence/tarpc": Prefix(
        //     connectors: [
        //         Connector(
        //             shortname: "scoreboard",
        //             spec: CargoLocal(
        //                 path: "./autoschematic-connector-scoreboard-dummy",
        //                 protocol: Tarpc
        //             ),
        //             env: {
        //                 "PROTOCOL": "TARPC",
        //             }
        //         ),
        //     ]
        // ),
        // "testbench/equivalence/grpc": Prefix(
        //     connectors: [
        //         Connector(
        //             shortname: "scoreboard",
        //             spec: CargoLocal(
        //                 path: "./autoschematic-connector-scoreboard-dummy",
        //                 protocol: Grpc
        //             ),
        //             env: {
        //                 "PROTOCOL": "GRPC",
        //             }
        //         ),
        //     ]
        // ),
    },
)
