(
    commands: [
        [
            "autoschematic",
            "plan",
        ],
        [
            "autoschematic",
            "apply",
            "--skip-confirm",
            "--skip-commit",
        ],
        [
            "autoschematic",
            "plan",
        ],
        [
            "autoschematic",
            "apply",
            "--skip-confirm",
            "--skip-commit",
        ],
    ],
    tx_stores: [
        "testbench/equivalence/tarpc/scoreboard.redb",
        "testbench/equivalence/grpc/scoreboard.redb",
    ],
    expected_txs: [
        (
            kind: "init",
            params: [],
        ),
        (
            kind: "filter",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "get",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "plan",
            params: [
                "scoreboard/resource.ron",
                "ScoreboardState(\n    random_int: -1935405647,\n)",
                "ScoreboardState(\n    random_int: 0,\n)",
            ],
        ),
        (
            kind: "init",
            params: [],
        ),
        (
            kind: "filter",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "get",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "plan",
            params: [
                "scoreboard/resource.ron",
                "ScoreboardState(\n    random_int: -1935405647,\n)",
                "ScoreboardState(\n    random_int: 0,\n)",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "op_exec",
            params: [
                "scoreboard/resource.ron",
                "SetState(random_int:0)",
            ],
        ),
        (
            kind: "init",
            params: [],
        ),
        (
            kind: "filter",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "get",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "plan",
            params: [
                "scoreboard/resource.ron",
                "ScoreboardState(\n    random_int: -1935405647,\n)",
                "ScoreboardState(\n    random_int: 0,\n)",
            ],
        ),
        (
            kind: "init",
            params: [],
        ),
        (
            kind: "filter",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "get",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "plan",
            params: [
                "scoreboard/resource.ron",
                "ScoreboardState(\n    random_int: -1935405647,\n)",
                "ScoreboardState(\n    random_int: 0,\n)",
            ],
        ),
        (
            kind: "addr_virt_to_phy",
            params: [
                "scoreboard/resource.ron",
            ],
        ),
        (
            kind: "op_exec",
            params: [
                "scoreboard/resource.ron",
                "SetState(random_int:0)",
            ],
        ),
    ],
)