(
    commands: [
        [
            "git",
            "reset",
            "HEAD",
        ],
        [
            "cp",
            "testbench/equivalence/src/bundle.ron",
            "testbench/equivalence/grpc/scoreboard/bundle.ron",
        ],
        [
            "cp",
            "testbench/equivalence/src/bundle.ron",
            "testbench/equivalence/tarpc/scoreboard/bundle.ron",
        ],
        [
            "git",
            "add",
            "testbench/equivalence/tarpc/scoreboard/bundle.ron",
            "testbench/equivalence/grpc/scoreboard/bundle.ron",
        ],
        [
            "autoschematic",
            "unbundle",
            "--no-stage",
        ],
    ],
    tx_stores: [
        "testbench/equivalence/tarpc/scoreboard.redb",
        "testbench/equivalence/grpc/scoreboard.redb",
    ],
    expected_txs: [
        (
            kind: "init",
            params: [],
        ),
        (
            kind: "filter",
            params: [
                "scoreboard/bundle.ron",
            ],
        ),
        (
            kind: "unbundle",
            params: [
                "scoreboard/bundle.ron",
                "ScoreboardState(\n    random_int: 0,\n)",
            ],
        ),
    ],
)